<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bank Home Page</title>
</head>

<body>
    <h1>Hi {{name}}, your balance is Rs. {{balance}}</h1>
    {% if status %}
    Last Transaction Status : {{status}}
    {% endif %}
    <h2>Fund Transfer</h2>
    <form action="/send" method="post">
        <h2>Please Enter the name of the user and amount to transfer funds.</h2>
        <input type="hidden" name="csrf_token" value={{token}}>
        To : <input name="to" type="text" placeholder="enter the beneficiary user name">
        <br><br>
        Money : <input name="amount" type="text" placeholder="enter the amount you want to transfer">
        <br><br>
        <input type="submit" value="Transfer">
    </form>

    <br>
    <br>
    <form action="/logout"><input type="submit" value="Logout"> </form>
</body>


</html>
